{% extends "base.html" %} {% block title %} ClinetPage|IntrusionDetectionSystem
{% endblock %} {% block content %}
<style>
  .form_title {
    text-align: center;
    margin: 20px 0;
    color: white;
  }

  /* Style for form container */
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(255, 255, 255, 0.58);
  }

  /* Style for labels */
  label {
    display: block;
    margin-bottom: 5px;
  }

  /* Style for input fields */
  input[type="text"],
  input[type="email"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  /* Select file */

  /* Style for custom file input container */
  .file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  /* Style for file input element */
  .file-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  label {
    text-align: center;
    font-weight: bold;
  }

  #download-button {
    width: 100%;
    font-weight: bold;
    margin-top: 5px;
  }

  .hidden {
    display: none;
  }

  /* Loader */

  .loader {
    font-size: 48px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ff3d00;
    letter-spacing: 2px;
    position: relative;
    margin: auto;
  }
  .loader::after {
    content: "Loading";
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader 10s ease-in infinite;
  }

  @keyframes animloader {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
</style>
<h3 class="form_title">SOCKET CLIENT</h3>
<form
  action="/submit"
  method="post"
  id="form_load"
  enctype="multipart/form-data"
>
  <label for="ip">Server IP</label>
  <input type="text" id="ip" name="ip" required />

  <label for="email">Email</label>
  <input type="email" id="email" name="email" required /><br /><br />

  <div class="file-input-container">
    <label for="option">Upload Incoming Network</label>
    <input type="file" name="option" required class="file-input" />
  </div>
  <br /><br />

  <button type="submit" id="download-button" class="btn">Send File</button>
</form>

<p
  id="msg"
  class="hidden"
  style="text-align: center; color: green; font-weight: bold"
>
  {{ msg }}
</p>

<div
  id="load"
  style="display: none; text-align: center; margin-top: 10px; color: white"
>
  <span class="loader">Loading</span>
</div>

<script>
  // JavaScript to handle form submission event
  document
    .querySelector("#form_load")
    .addEventListener("submit", function (event) {
      // Prevent the default form submission behavior
      event.preventDefault();

      // Show loader when the form is submitted
      let loader = document.querySelector("#load");
      loader.style.display = "block";

      // Submit the form programmatically after showing the loader
      // This ensures that the loader is displayed before the form submission
      document.querySelector("#form_load").submit();
    });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var msgElement = document.getElementById("msg");
    if (msgElement) {
      // Show the message
      msgElement.classList.remove("hidden");

      // Set a timeout to hide the message after 10 seconds
      setTimeout(function () {
        msgElement.classList.add("hidden");
      }, 10000); // 10 seconds in milliseconds
    }
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const fileInput = document.querySelector('input[type="file"]');
    const label = document.querySelector('label[for="option"]');

    fileInput.addEventListener("change", function () {
      if (this.files.length > 0) {
        label.textContent = this.files[0].name; // Update label text with the selected file name
      } else {
        label.textContent = "Select file"; // Reset label text if no file is selected
      }
    });
  });
</script>
{% endblock %}
